imbalanced-learn==0.8.1
imblearn==0.0
json5==0.9.5
lightgbm==3.3.1
numpy==1.19.5
pandas==1.2.4
lime==0.2.0.1
requests==2.25.1
plotly==5.3.1
streamlit==1.1.0
matplotlib==3.3.4
seaborn==0.11.1

